section.banner
  .banner__slider
    .banner__slides
      img.banner__slide(src="../img/levis.png", alt="slide")
      img.banner__slide(src="../img/levis.png", alt="slide")
      img.banner__slide(src="../img/levis.png", alt="slide")
      img.banner__slide(src="../img/levis.png", alt="slide")
      img.banner__slide(src="../img/levis.png", alt="slide")
  .banner__content-wrapper
    h1.banner__title Cowhide <br> Standard Crew
    p.banner__text White coloured, short-sleeved, printed T-shirt for men by Levi's. This crew-neck T-shirt is made of organic cotton and comes in a regular fit.
    .banner__button
      +button("Shop Now", "banner")(href="/")
    .banner__toggles
      input.banner__toggle.banner__toggle_active(type="button")
      input.banner__toggle(type="button")
      input.banner__toggle(type="button")
      input.banner__toggle(type="button")
      input.banner__toggle(type="button")
