@include load-font($src: '../fonts/BebasNeue', $family: 'Bebas Neue');

@include load-font($src: '../fonts/OpenSans', $family: 'Open Sans');

html {
  font-size: 16px;
  font-family: 'Bebas Neue', Arial, sans-serif;
  color: $color-primary;
  background-color: $color-primary;

  @include for-phone-only() {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;

  @include for-tablet-landscape-down() {
    padding: {
      right: 5px;
      left: 5px;
    }
  }
}

