@include load-font($src: '../fonts/BebasNeue', $family: 'Bebas Neue');

html {
  font-size: 16px;
  font-family: 'Bebas Neue', Arial, sans-serif;
  color: $color-primary;
  background-color: $color-primary;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;

  @include for-tablet-landscape-down() {
    padding: {
      right: 5px;
      left: 5px;
    }
  }
}

