.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Bebas Neue', Arial, sans-serif;
  color: $color-primary;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  transition: background-color .3s;
  border: none;

  &:hover {
    background-color: $color-footer-bottom;
  }

  &:active {
    color: $gray--lightest;
  }

  &_banner {
    font-size: 1.6875rem; // 27px / 16px
    line-height: 19px;
    border: .1875rem solid $color-primary; // 3px / 16px
    border-radius: 8px;
    background-color: transparent;
    padding: {
      top: .625rem; // 10px / 16px
      right: 1.5625rem; // 25px / 16px
      bottom: .6875rem; // 11px / 16px
      left: 1.5625rem; // 25px / 16px
    }
  }

  &_slide {
    font-size: 1.1875rem; // 19px / 16px
    background-color: $color-button;
    border-radius: 4px;
    padding: {
      top: .25rem; // 4px / 16px
      right: .9375rem; // 15px / 16px
      bottom: 4px; // 4px / 16px
      left: .875rem; // 14px / 16px
    }
  }

  &_card {
    font-size: pxToRem(20);
    line-height: 20.19px;
    border-radius: 4px;
    background-color: $color-button;
    letter-spacing: pxToRem(1.5);
    padding: {
      top: pxToRem(9);
      right: pxToRem(9);
      bottom: pxToRem(6);
      left: pxToRem(10);
    }
  }
}