extends  ./layout
include includes

append style
  include ../blocks/favicons/favicons

block title
  title Aditu

block content
  body
    .wrapper
      include ../blocks/header/header
      include ../blocks/banner/banner
      include ../blocks/slider/slider
      include ../blocks/main/main
      include ../blocks/footer/footer

    script(src="index.js")
