section.products
  h2.products__title Featured products
  .products__card-wrapper
    .products__card-wrapper-inner
      +product-card({
        description: "Branded shoe",
        price: 300,
        alt: "Branded shoe",
        title: "Branded shoe"
      })
      +product-card({
        src: "../img/wear5.png",
        description: "Branded tees",
        price: 300,
        alt: "Branded tees",
        title: "Branded tees"
      })
      +product-card({
        src: "../img/wear6.png",
        description: "Branded shoe",
        price: 300,
        alt: "Branded shoe",
        title: "Branded shoe"
      })
      +product-card({
        src: "../img/wear7.png",
        description: "Branded shoe",
        price: 300,
        alt: "Branded shoe",
        title: "Branded shoe"
      })
      +product-card({
        src: "../img/wear8.png",
        description: "Ems women bag",
        price: 300,
        alt: "Ems women bag",
        title: "Ems women bag"
      })
      +product-card({
        src: "../img/wear3.png",
        description: "Branded cargos",
        price: 300,
        alt: "Branded cargos",
        title: "Branded cargos"
      })
