.products {

  &__title {
    margin: 0;
    font-size: 1.9375rem; // 31px / 16px
    line-height: 25px;
    background-color: $color-nav-bar;
    background-image: url('../img/bg.jpg');
    font-weight: 400;


    @include for-tablet-landscape-down() {
      padding-left: 0;
      text-align: center;
    }
    padding: {
      top: 1.5rem; // 24px / 16px
      bottom: 1.125rem; // 18px / 16px
      left: 14.453125%; // 185px / 1280px
    }
  }
}
