.products {

  &__card-wrapper {
    width: pxToPercent(873, 1280);
    margin: auto;

    @media (max-width: 1140px) {
      width: 87%;
    }

    @include for-middle-phone-only() {
      width: 95%;
    }
  }

  &__card-wrapper-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: pxToRem(-13);

    @media (max-width: 1140px) {
      margin-left: 0;
    }

    @include for-phone-only() {
      justify-content: center;
    }
  }

  &__title {
    margin: 0;
    font-size: pxToRem(31);
    background-color: $color-nav-bar;
    background-image: url('../img/bg.jpg');
    font-weight: 400;

    @include pxToRem(margin-bottom, 48);

    @include pxToRem(line-height, 25);

    @include for-tablet-landscape-down() {
      padding-left: 0;
      text-align: center;
    }
    padding: {
      top: pxToRem(24);
      bottom: pxToRem(18);
      left: pxToPercent(185, 1280)
    }
  }
}
