.search-form {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  
  &__input {
    width: 100%;
    font-family: 'Bebas Neue', Arial, sans-serif;
    color: $color-basket-price;
    border: 1px solid $gray--lightest;
    box-sizing: border-box;
    outline: none;
    padding: {
      top: .5rem; // 8px / 16px;
      right: 1.875rem; // 30px / 16px
      bottom: .5rem; // 8px / 16px
    }

    &:active,
    &:focus {
      box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    }
  }

  &__button {
    position: absolute;
    top: 7px;
    right: 1.84331797235023%;
    width: 22px;
    height: 22px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}
