header.page-header
  .page-header__wrapper
    .page-header__logo
      include ../logo/logo
    .page-header__search-form
      include ../search-form/search-form
    .page-header__basket
      include ../basket/basket