.page-header {

  &__wrapper {
    display: flex;
    padding: .9375rem 0; // 15px / 16px
    align-items: center;

    @include for-tablet-landscape-down() {
      justify-content: space-between;
    }

    @include for-phone-only() {
      flex-direction: column;
    }
  }

  &__logo {
    margin-left: 11.796875%;
    margin-top: 5px;

    @include for-tablet-landscape-down() {
      margin-left: 0;
    }

    @include for-phone-only() {
      margin-bottom: 20px;
    }
  }

  &__search-form {
    width: 34.10625%;
    margin-left: 13.28125%;

    @include for-tablet-landscape-down() {
      margin-left: 0;
    }

    @include for-phone-only() {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__basket {
    margin-left: 12.14375%;

    @include for-tablet-landscape-down() {
      margin-left: 0;
    }
  }
}
